<div class="centered-content">
  <div class="container">

    <div class="sidebar has-background-grey-lighter">
      <div class="list-menu">
        <a class="list-menu-item" routerLink="">
          <p>Homepage</p>
        </a>
        <a class="list-menu-item is-active">
          <p>Media</p>
        </a>
        <a class="list-menu-item" routerLink="/customer">
          <p>Customers</p>
        </a>
        <a class="list-menu-item" routerLink="/rent">
          <p>Renting</p>
        </a>
      </div>

      <button class="button has-text-light has-background-grey-light" style="width: 200px" routerLink="/new-media"> + New media</button>

    </div>

    <div class="list-container has-background-white">
      <div class="contenttable">
      <table width="100%">
          <th width="35%">Title</th>
          <th width="10%">Type</th>
          <th width="30%">Duration (minutes)</th>
          <th>Status</th>

        <tr *ngFor="let media of media">
          <td>{{media.title}}</td>
          <td>{{media.mediaType}}</td>
          <td>{{media.duration}}</td>
          <td>{{media.mediaStatus}}</td>
        </tr>
      </table>
      </div>
    </div>

  </div>
</div>
