<div class="centered-content">
  <div class="container">

    <div class="sidebar has-background-grey-lighter">
      <div class="list-menu">
        <a class="list-menu-item">
          <p>Homepage</p>
        </a>
        <a class="list-menu-item is-active">
          <p>Media</p>
        </a>
        <a class="list-menu-item">
          <p>Customers</p>
        </a>
        <a class="list-menu-item">
          <p>Renting</p>
        </a>
      </div>

      <button class="button has-text-light has-background-grey-light"> + New media</button>

    </div>

    <div class="list-container has-background-white">
      <h1 class="title">
        Requested list
      </h1>

        <a class="listing">
          <p>Media</p>
        </a>
        <a class="listing">
          <p>Customers</p>
        </a>
        <a class="listing">
          <p>Renting</p>
        </a>
    </div>

  </div>
</div>
