<div class="centered-content">
  <div class="container">

    <div class="sidebar has-background-grey-lighter">
      <div class="list-menu">
        <a class="list-menu-item is-active">
          <p>Homepage</p>
        </a>
        <a class="list-menu-item" routerLink="/media">
          <p>Media</p>
        </a>
        <a class="list-menu-item" routerLink="/customer">
          <p>Customers</p>
        </a>
        <a class="list-menu-item" routerLink="/rent">
          <p>Renting</p>
        </a>
      </div>

    </div>

    <div class="home-container has-background-white">
        <h1 class="title">Welcome to our video rental system!</h1>
        <p style="text-align: justify">With this application you can keep track of your store's video inventory, as well as your loyal customers. You can see, who rented what, and when should they return it. And even if they are late to return something!<br><br>Hope you are satisfied with our product.</p><br>
      <div class="clearfix">
        <img class="imagestyle" src="../../../assets/video-station.jpg">
        <p style="text-align: center">If not, contact: gerda.missty@gmail.com<br>Urbán Gerda<br>OHVJEU</p>
      </div>

    </div>

  </div>
</div>
