<div class="centered-content">
  <div class="container">

    <div class="sidebar has-background-grey-lighter">
      <div class="list-menu">
        <a class="list-menu-item" routerLink="/home">
          <p>Homepage</p>
        </a>
        <a class="list-menu-item" routerLink="/media">
          <p>Media</p>
        </a>
        <a class="list-menu-item" routerLink="/customer">
          <p>Customers</p>
        </a>
        <a class="list-menu-item is-active">
          <p>Renting</p>
        </a>
      </div>

      <button class="button has-text-light has-background-grey-light" style="width: 200px" routerLink="/new-rent"> + New rent</button>

    </div>

    <div class="list-container has-background-white">
      <div class="contenttable">
        <table width="100%">
          <th width="30%">Customer</th>
          <th width="30%">Media</th>
          <th width="10%">Rent Date</th>
          <th width="10%">Due Date</th>
          <th>Status</th>

          <tr *ngFor="let rent of rent" [routerLink]="['/rent', rent._id, rent.media]" [ngClass]="{'overdue' : rent.status==='OVERDUE'}">
            <td>{{rent.customer}}</td>
            <td>{{rent.media}}</td>
            <td>{{rent.rentDate}}</td>
            <td>{{rent.dueDate}}</td>
            <td>{{rent.status}}</td>
          </tr>

        </table>
      </div><br>

      <div class="dropdown is-hoverable is-pulled-right">
        <div class="dropdown-trigger">
          <button class="button has-background-grey-lighter" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span> Modify </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <a [routerLink]="['/edit-rent', rentId]" class="dropdown-item">
              Edit
            </a>
            <a (click)="onClickRentDelete()" class="dropdown-item has-text-danger">
              Delete
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


