@import "../../../main-styles.scss";

.modal-box {
  min-height: 200px;
  width: 100%;
  max-width: 500px;
  background: ghostwhite;
  padding: 15px;
  border-radius: 10px;
}

.input {
  margin: 2px;
}
