<div class="centered-content">
  <div class="container">

    <div class="sidebar has-background-grey-lighter">
      <div class="list-menu">
        <a class="list-menu-item" routerLink="/home">
          <p>Homepage</p>
        </a>
        <a class="list-menu-item" routerLink="/media">
          <p>Media</p>
        </a>
        <a class="list-menu-item is-active">
          <p>Customers</p>
        </a>
        <a class="list-menu-item" routerLink="/rent">
          <p>Renting</p>
        </a>
      </div>

      <button class="button has-text-light has-background-grey-light" style="width: 200px" routerLink="/new-customer"> + New customer</button>

    </div>

    <div class="list-container has-background-white">
      <div class="contenttable">
        <table width="100%">
          <th width="30%">Name</th>
          <th width="30%">Phone Number</th>
          <th>Address</th>

          <tr *ngFor="let customer of customer" [routerLink]="['/customer', customer._id]">
            <td>{{customer.name}}</td>
            <td>{{customer.phone}}</td>
            <td>{{customer.address}}</td>
          </tr>
        </table>
      </div><br>

      <div class="dropdown is-hoverable is-pulled-right">
        <div class="dropdown-trigger">
          <button class="button has-background-grey-lighter" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span> Modify </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu4" role="menu">
          <div class="dropdown-content">
            <a [routerLink]="['/edit-customer', customerId]" class="dropdown-item">
              Edit
            </a>
            <a (click)="onClickCustomerDelete()" class="dropdown-item has-text-danger">
              Delete
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

